* {
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
}

#whiteboard {
    height: 100%;
    width: 100%;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    border: 1px solid salmon;
}

.operate-panel {
    position: fixed;
    left: 20px;
    top: 50px;
}

.color {
    display: inline-block;
    height: 60px;
    width: 60px;
    cursor: pointer;
    border-radius: 5px;
}

#shape {
    margin-top: 20px;
}

.color:hover {
    border: 2px dashed gray;
}

.color.black {
    background-color: black;
}

.color.red {
    background-color: red;
}

.color.green {
    background-color: green;
}

.color.blue {
    background-color: blue;
}

.color.yellow {
    background-color: yellow;
}